* {
  margin: 0;
  box-sizing: border-box;
  font-family: Tiem;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: Tiem;
  src: url("../blocks/fonts/TiemposTextRegular.woff");
}
@font-face {
  font-family: myfont;
  src: url(../blocks/fonts/FSEmeric.woff);
}
.header__first {
  width: 100%;
  height: 70px;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__first__width {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
}
@media (min-width: 768px) {
  .header__first__width {
    max-width: 1200px;
  }
}

.header__first__left,
.hedaer__first__center,
.header__first__right {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__first__left,
  .hedaer__first__center,
  .header__first__right {
    width: 150px;
  }
}

.header__second {
  width: 100%;
  height: 50px;
  background-color: #3f3f3f;
  display: flex;
}

.header__second__width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Tiem;
  font-size: 20px;
}

.header__second__items {
  display: flex;
  gap: 25px;
  align-items: center;
  font-family: Tiem;
}

.allsofas a {
  font-family: Tiem;
}

.header__second__burgerbox {
  position: relative;
}
@media (min-width: 768px) {
  .header__second__burgerbox {
    display: none;
  }
}

.header__second__burgerbox img {
  width: 40px;
}

.header__second__burgerdrop {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.header__second__burgerdroplist {
  width: 200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  color: white;
}

.header__second__burgerbox:hover .header__second__burgerdrop {
  display: block;
  width: 200px;
  height: 600px;
}

.header__second__burgerbox:hover .header__second__burgerdroplist {
  display: block;
  width: 200px;
  height: 600px;
  background: rgb(230, 172, 64);
}

.header__second__right {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__second__right {
    width: 530px;
  }
}

.header__second__right__input {
  width: 250px;
  background-color: rgb(80, 77, 77);
  border: 1px rgb(80, 77, 77);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header__second__right__input {
    width: 400px;
  }
}

.header__second__right__input1 {
  width: 200px;
  height: 30px;
  background-color: rgb(80, 77, 77);
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: 20px;
  color: white;
}
@media (min-width: 768px) {
  .header__second__right__input1 {
    width: 500px;
  }
}

.header__second__right__input1::-moz-placeholder {
  color: white;
  word-spacing: 2px;
  font-family: Tiem;
  font-size: 10px;
}

.header__second__right__input1::placeholder {
  color: white;
  word-spacing: 2px;
  font-family: Tiem;
  font-size: 10px;
}
@media (min-width: 768px) {
  .header__second__right__input1::-moz-placeholder {
    font-size: 20px;
  }
  .header__second__right__input1::placeholder {
    font-size: 20px;
  }
}

.header__second__right__input1:hover {
  background-color: white;
}

.header__second__right__input1:hover::-moz-placeholder {
  color: black;
}

.header__second__right__input1:hover::placeholder {
  color: black;
}

.camera {
  position: relative;
}

.dropcamera {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: transparent;
}

.droplistcamera {
  list-style-type: none;
  text-align: center;
  width: 200px;
  height: 180px;
  border: 1px solid black;
  background-color: white;
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera:hover .dropcamera {
  display: block;
}

.allsofas {
  position: relative;
}
@media (max-width: 768px) {
  .allsofas {
    display: none;
  }
}

.dropallsofas {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 700px;
  height: 400px;
  background-color: rgb(230, 172, 64);
}

.droplistallsofas {
  display: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
}

.droplistallsofas li {
  list-style-type: none;
}

.divdropallsofa {
  display: flex;
}

.divdropallsofa img {
  flex: 2;
  width: 200px;
  height: 300px;
}

.allsofas:hover .dropallsofas {
  display: block;
}

/* Start:: fabric drop list.. */
.fabricsofas {
  position: relative;
}
@media (max-width: 768px) {
  .fabricsofas {
    display: none;
  }
}

.dropfabricsofas {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 700px;
  height: 400px;
  background-color: rgb(230, 172, 64);
  background: transparent;
  background: rgb(230, 172, 64);
}

.droplistfabricsofas {
  width: 500px;
  height: 400px;
  background-color: rgb(230, 172, 64);
  display: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
}

.droplistfabricsofas li {
  list-style-type: none;
}

.divdroplistfabric img {
  width: 200px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  flex: 2;
}

.divdroplistfabric {
  display: flex;
}

.fabricsofas:hover .dropfabricsofas {
  display: block;
}

/*Start::leather drop list..... */
.leathersofas {
  position: relative;
}
@media (max-width: 768px) {
  .leathersofas {
    display: none;
  }
}

.dropleathersofas {
  position: absolute;
  width: 700px;
  height: 400px;
  background-color: rgb(230, 172, 64);
  top: 100%;
  left: 0;
  display: none;
}

.droplistleathersofas {
  display: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
  width: 500px;
  height: 300px;
  background-color: rgb(230, 172, 64);
}

.droplistleathersofas li {
  list-style-type: none;
}

.divdroplistleather {
  display: flex;
}

.divdroplistleather img {
  flex: 2;
  width: 200px;
  height: 300px;
}

.leathersofas:hover .dropleathersofas {
  display: block;
}

/* Start::corner drop list......... */
.cornersofas {
  position: relative;
}
@media (max-width: 768px) {
  .cornersofas {
    display: none;
  }
}

.dropcornersofas {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 700px;
  height: 400px;
  background-color: rgb(230, 172, 64);
}

.droplistcornersofas {
  display: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
}

.droplistcornersofas li {
  list-style-type: none;
}

.divdropcorner {
  display: flex;
}

.divdropcorner img {
  flex: 2;
  width: 200px;
  height: 300px;
}

.cornersofas:hover .dropcornersofas {
  display: block;
}

/* Start::recliner drop list.... */
.reclinersofas {
  position: relative;
}
@media (max-width: 768px) {
  .reclinersofas {
    display: none;
  }
}

.dropreclinersofas {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 700px;
  height: 400px;
  background-color: rgb(230, 172, 64);
}

.droplistreclinersofas {
  display: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  flex: 1;
}

.droplistreclinersofas li {
  list-style-type: none;
}

.divdroprecliner {
  display: flex;
}

.divdroprecliner img {
  flex: 2;
  width: 200px;
  height: 300px;
}

.reclinersofas:hover .dropreclinersofas {
  display: block;
}

/* End::drop list */
.season {
  width: 100%;
  height: 50px;
  background-color: white;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Tiem;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .season {
    margin-top: 20px;
  }
}

.season h3 {
  color: orange;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.season p {
  word-wrap: break-word;
  padding-top: 10px;
  margin-bottom: 100px;
  font-size: 30px;
  text-align: center;
  font-family: Tiem;
}

.season__cards {
  width: 100%;
  height: 400px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1300px;
}
@media (min-width: 768px) {
  .season__cards {
    flex-wrap: nowrap;
    gap: 30px;
    margin-bottom: 50px;
  }
}

.season__card__img {
  width: 350px;
  height: 400px;
}
@media (min-width: 768px) {
  .season__card__img {
    width: 250px;
  }
}

.season__card__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 350px;
  height: 400px;
}
@media (min-width: 768px) {
  .season__card__img img {
    width: 250px;
  }
}

.colors {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(222, 217, 217);
}
@media (min-width: 768px) {
  .colors {
    background-color: rgb(222, 217, 217);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 20px;
  }
}

.colors img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

h1 {
  text-align: center;
}

.sizes {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .sizes {
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 40px;
  }
}

.sizes__card img {
  width: 100%;
}

.sizes__card {
  width: 100%;
  text-align: center;
  border: 1px solid gray;
}

.sizes__card span {
  font-size: larger;
  text-align: center;
}

.smart {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 217, 217);
}
@media (min-width: 768px) {
  .smart {
    position: relative;
    height: 350px;
  }
}

.smart__desc {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  width: 500px;
  text-align: center;
  font-family: Tiem;
}
@media (min-width: 768px) {
  .smart__desc {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
  }
}

.smart__image {
  width: 300px;
  height: 300px;
  background-color: transparent;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .smart__image {
    position: absolute;
    top: -10px;
    left: 100px;
  }
}

footer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background-color: rgb(41, 35, 35);
  margin-top: 10px;
  color: white;
}

.footer__container {
  display: flex;
  text-align: center;
  color: white;
}
@media (min-width: 768px) {
  .footer__container {
    justify-content: space-around;
    color: white;
    gap: 20px;
  }
}

.footer__section li {
  list-style-type: none;
  color: white;
}

.footer__section {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: small;
}

.footer__section span {
  color: white;
  border-bottom: solid white 2px;
}
@media (min-width: 768px) {
  .footer__section span {
    margin: 10px 10px;
    color: white;
  }
}

.footer__section li {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__section li {
    margin: 10px 10px;
    padding-bottom: 10px;
  }
}

.follow__us {
  color: white;
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .follow__us {
    margin-top: 150px;
    margin-left: 60px;
    font-size: large;
    color: white;
  }
}

.follow__us i {
  color: white;
}
@media (min-width: 768px) {
  .follow__us i {
    margin-left: 30px;
    margin-right: 10px;
    font-size: xx-large;
    color: white;
  }
}

.top__section {
  width: 100%;
  height: 400px;
  background-color: rgb(222, 217, 217);
  text-align: center;
  padding-top: 20px;
}

.top__section__paragraph {
  margin-top: 30px;
}

.top__section__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .top__section__btn {
    gap: 3rem;
    padding: 20px 40px;
    border-radius: 25px;
    margin: 40px 20px;
  }
}

.top__section__btn button {
  padding: 10px 10px;
  border-radius: 15px;
  margin: 10px 10px;
  font-family: Tiem;
  background-color: rgb(230, 172, 64);
}
@media (min-width: 768px) {
  .top__section__btn button {
    padding: 10px 40px;
    border-radius: 25px;
    margin: 20px 20px;
    font-size: 20px;
    background-color: rgb(230, 172, 64);
  }
}

.main__container {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 768px) {
  .main__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.card__container {
  width: 100%;
}

.card__container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 250px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .card__container img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.card__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .card__title {
    justify-content: space-between;
  }
}

.card__title a {
  color: black;
}

.card__desc__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: small;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .card__desc__details {
    justify-content: flex-start;
  }
}

.card__desc__price {
  text-align: center;
}

.help {
  width: 100%;
  max-width: 1280px;
  height: 100px;
  margin-bottom: 20px;
}

.help__p {
  padding-top: 10px;
}

.help__p h1 {
  text-align: center;
  padding-bottom: 10px;
}

.help__p p {
  text-align: center;
  font-family: Tiem;
  font-size: x-large;
}

.main__stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main__stack {
    flex-direction: row;
  }
}

.help__stack img {
  max-width: 300px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.help__stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  flex-direction: column;
  gap: 0.5rem;
  height: 400px;
}
@media (min-width: 768px) {
  .help__stack {
    flex-direction: row;
    height: 500px;
  }
}

.help__paragraph p {
  padding-bottom: 5px;
  font-size: large;
}

.main__form {
  width: 100%;
  height: 500px;
  background-color: rgb(222, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.main__form input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
}

.main__form button {
  width: 400px;
  height: 50px;
  background-color: rgb(230, 172, 64);
  border-radius: 10px;
}

.topbackground {
  width: 100%;
  height: 600px;
}

.topstack {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 0;
}
@media (min-width: 768px) {
  .topstack {
    flex-direction: row;
  }
}

.topstack img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  flex: 1;
}

.matnstack {
  background: linear-gradient(to bottom, rgb(251, 169, 17), rgb(235, 144, 54));
  height: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Trebuchet MS";
}

.matnstack h2 {
  font-size: xx-large;
}

.matnstack p {
  font-family: "Trebuchet MS";
}

.matnstack button {
  width: 150px;
  height: 40px;
  background-color: white;
  border-radius: 30px;
  border-style: none;
  font-size: larger;
  color: #3f3f3f;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */