footer {
    width: 100%;
    height: 400px;
    // max-width: 1280px;
    margin: 0 auto;
    background-color: rgb(41, 35, 35);
    margin-top: 10px;
    color: white;
}

.footer__container {
    display: flex;
    text-align: center;
    color: white;

    @media(min-width: 768px) {
        justify-content: space-around;
        color: white;
        gap: 20px;
    }
}

.footer__section li {
    list-style-type: none;
    color: white;
}

.footer__section {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: small;
}

.footer__section span {
    color: white;

    border-bottom: solid white 2px;

    @media(min-width: 768px) {
        margin: 10px 10px;
        color: white;
    }


}

.footer__section li {
    margin-bottom: 10px;

    @media(min-width: 768px) {
        margin: 10px 10px;
        padding-bottom: 10px;
    }

}

.follow__us {
    color: white;
    margin-top: 50px;
    text-align: center;

    @media(min-width: 768px) {
        margin-top: 150px;
        margin-left: 60px;
        font-size: large;
        color: white;
    }
}

.follow__us i {

    color: white;

    @media(min-width: 768px) {
        margin-left: 30px;
        margin-right: 10px;
        font-size: xx-large;
        color: white;
    }

}