.season {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Tiem;
    margin-bottom: 100px;

    @media (min-width:768px) {
        margin-top: 20px;
    }
}



.season h3 {

    color: orange;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.season p {
    word-wrap: break-word;
    padding-top: 10px;
    margin-bottom: 100px;
    font-size: 30px;
    text-align: center;
    font-family: Tiem;

}

// Start cards

.season__cards {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    @include flexBetween(center, center);
    flex-wrap: wrap;
    margin-bottom: 1300px;


    @media (min-width:768px) {
        flex-wrap: nowrap;
        gap: 30px;
        margin-bottom: 50px;
    }
}

.season__card__img {
    width: 350px;
    height: 400px;

    @media (min-width:768px) {
        width: 250px;

    }
}

.season__card__img img {
    object-fit: contain;
    width: 350px;
    height: 400px;

    @media (min-width:768px) {
        width: 250px;

    }
}