.smart {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $bg_gray;
    align-items: center;


    @media(min-width: 768px) {
        position: relative;
        height: 350px;

    }
}

.smart__desc {
    @include flexBetween(left, center);
    flex-direction: column;
    width: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    @media(min-width: 768px) {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;

    }
}

.smart__image3 {
    @include whb(300px, 300px, transparent);
    margin-top: 20px;


    @media(min-width: 768px) {
        position: absolute;
        top: 30px;
        left: 57px;

    }

}

.smart__image2 {
    @include whb(300px, 300px, transparent);
    margin-top: 20px;

    @media(min-width: 768px) {
        position: absolute;
        top: -13px;
        left: 282px;

    }

}